.ex-1-square {
    transition: background 2s ease-in-out 1s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: width 2s ease-in-out 1s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 1s linear 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: opacity 1s ease-in-out 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: width 2s ease-in-out,height 2s ease-in-out;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 25px;
    height: 25px;
}

.ex-6-img {
    transition: filter 1s linear 1s;
}

.ex-6-img:hover {
    filter: grayscale(100%);

}

.ex-7-img {
    transition: filter 0.5s ease-in 1s;
}

.ex-7-img:hover {
    filter: saturate(250%) brightness(125%);

}

.ex-8-img {
    transition: filter 0.5s ease-out 1s, border-radius 1s linear 1s;
}

.ex-8-img:hover {
    filter: invert(25%) hue-rotate(33deg);
    border-radius: 25px;
}

.ex-9-img {
    transition: filter 0.5s linear 1s, border-radius 1s ease-in-out 1s, transform 2s;
}

.ex-9-img:hover {
    filter: sepia(75%) drop-shadow(8px 8px 10px red);
    border-radius: 40px;
    transform: scale(1.2);
}

.ex-10-icon{
    animation-name: gira;
    animation-duration: 1s;
    animation-iteration-count: 99999;
    animation-timing-function: linear;
}

@keyframes gira {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.ex-11-icon:hover {

    animation-name: gira-11;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes gira-11 {
    0% {transform: rotate(0deg);}
    90% {transform: rotate(270deg);}
    100% {transform: rotate(0deg);}
}

.ex-12-top-white {
    animation-name: gira-top-12;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 999999;
}

@keyframes gira-top-12 {
    from {transform: translateX(0%);}
    to {transform: translateX(100%);}
}

.ex-12-bottom-white {
    animation-name: gira-bottom-12;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 999999;

}

@keyframes gira-bottom-12 {
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}

.ex-13-top-white {
    animation-name: gira-top-13;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 999999;
}

@keyframes gira-top-13 {
    0% {transform: translateX(0%);}
    25% {transform: translateX(200%);}
    40% {transform: translate(300%,100%);}
    50% {transform: translate(200%,200%);}
    100% {transform: translate(200%,300%);}
}

.ex-13-bottom-white {
    animation-name: gira-bottom-13;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 999999;
}

@keyframes gira-bottom-13 {
    0% {transform: translateX(0%);}
    25% {transform: translateX(-200%);}
    40% {transform: translate(-200%,-100%);}
    50% {transform: translate(-200%,-200%);}
    100% {transform: translate(-200%,-300%);}
}
